*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    background: linear-gradient(to top right, #80cbc4, #e1bee7, #80ddea, #d1c4e9);
}
nav{
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0,0,0,0.5);
}
nav li{
    list-style: none;
}
nav ul li a{
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 1.15em;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    padding: 10px 30px;
    height: 50px;
    transition: 0.5s ease;
    border-radius: 0 30px;
}
nav ul li a:hover{
    background: rgba(0,0,0,0.7);
    color: #fff;
}
nav ul ul{
    position: absolute;
    left: 250px;
    text-decoration: none;
    top: 0;
    display: none;
    background: rgba(155,39,176,0.4);
    border-radius: 5px;
    box-shadow: 2px 1px 10px rgba(0,0,0,1);
}
nav ul ul span{
    position: absolute;
    right: 20px;
    font-size: 1.5em;
}
nav ul .dropdown{
    position: relative;
}
nav ul .dropdown:hover ul{
    display: initial;
}
nav ul .dropdown-two ul{
    position: absolute;
    left: 200px;
    top:  0;
}
nav ul .dropdown-two:hover ul{
    display: initial;
    color: #80cbc4;
}