body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,#9a1d86, #1595be);
    font-weight: bold;
    overflow: hidden;
    }
    
    .player{
      margin: 5px;
      height: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
  }
    .wrapper{
    margin: 15px 150px 15px 150px;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(135deg,rgba(0,0,0,0.2),rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

    }
    
    .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }
    
    .track-art {
    margin: 25px;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 0px 6px 5px black;
    box-shadow: 0px 6px 5px black;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius:190px;
    box-shadow: 0 0 50px rgb(3, 3, 3);
    }
    
    .now-playing {
    font-size: 1rem;
    }
    
    .track-name {
    font-size: 2rem;
    }
    
    .track-artist {
    margin-top: 5px;
    font-size: 1rem;
    }
    
    .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    }
    .active{
        color: black;
    }
    
    .repeat-track,
    .random-track,
    .playpause-track,
    .prev-track,
    .next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
    }
    
    .repeat-track:hover,
    .random-track:hover,
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover {
    opacity: 1.0;
    }
    
    .slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83A9FF;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
    
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774FF;
    cursor: grab;
    border-radius: 100%;
    }
    
    .seek_slider:hover,
    .volume_slider:hover {
    opacity: 1.0;
    }
    
    .seek_slider {
    width: 60%;
    border: 2px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    }
    
    .volume_slider {
    width: 30%;
    border: 2px solid #0a0a0a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    }
    
    .current-time,
    .total-duration {
    padding: 10px;
    }
    
    i.fa-volume-down,
    i.fa-volume-up {
    padding: 5px 10px;
    }
    
    i,
    i.fa-play-circle,
    i.fa-pause-circle,
    i.fa-step-forward,
    i.fa-step-backward,
    p {
    cursor: pointer;
    }
  
    .randomActive{
        color: black;
    }
    .rotate {
        animation: rotation 8s infinite linear;
    }
    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
    }
    .loader {
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .loader .stroke{
        background: #f1f1f1;
        height: 75%;
        width: 10px;
        border-radius: 50px;
        margin: 0 5px;
        animation: animate 1.4s linear infinite;
    }
      @keyframes animate {
        50% {
          height: 20%;
          background: #4286f4;
        }
    
        100% {
          background: #4286f4;
          height: 100%;
        }
      }
      .stroke:nth-child(1){
          animation-delay: 0s;
      }
      .stroke:nth-child(2){
        animation-delay: 0.3s;
    }
    .stroke:nth-child(3){
        animation-delay: 0.6s;
    }
    .stroke:nth-child(4){
        animation-delay: 0.9s;
    }
    .stroke:nth-child(5){
        animation-delay: 0.6s;
    }
    .stroke:nth-child(6){
        animation-delay: 0.3s;
    }
    .stroke:nth-child(7){
        animation-delay: 0s;
    }
    
.bg-animation{
  z-index: -1;
  overflow: hidden; 
  margin: 50px;
}
.bg-animation ul li{
  position: absolute;
  width: 30px;
  height: 30px;
  list-style: none;
  opacity: 0;
  align-items: center;
  text-align: center;
}

.ani-1 li{
  bottom: 0;
  left: 15%;
  animation: rotate1 10s linear infinite;
}
.ani-1 li:nth-child(2){
  bottom: 0;
  left: 30%;
  animation-delay: 1s;
}
.ani-1 li:nth-child(3){
  bottom: 0;
  left: 45%;
  animation-delay: 2s;
}
.ani-1 li:nth-child(4){
  bottom: 0;
  left: 60%;
  animation-delay: 1.5s;
}
.ani-1 li:nth-child(5){
  bottom: 0;
  left: 75%;
  animation-delay: 2s;
}
.ani-1 li:nth-child(6){
  bottom: 0;
  left: 90%;
  animation-delay: 1.5s;
}
@keyframes rotate1
{
  0%
  {
    transform: scale(0) rotateY(0deg);
    opacity: 1;
    bottom: 0;
  }
  100%
  {
    transform: scale(5) rotateY(1000deg);
    opacity: 0;
    bottom: 100vh;
  }
}

.ani-2 li{
  bottom: 0;
  left: 7.5%;
  animation: rotate2 10s linear infinite;
}
.ani-2 li:nth-child(2){
  bottom: 0;
  left: 22.5%;
  animation-delay: 1s;
}
.ani-2 li:nth-child(3){
  bottom: 0;
  left: 37.5%;
  animation-delay: 2s;
}
.ani-2 li:nth-child(4){
  bottom: 0;
  left: 52.5%;
  animation-delay: 1.5s;
}
.ani-2 li:nth-child(5){
  bottom: 0;
  left: 67.5%;
  animation-delay: 2s;
}
.ani-2 li:nth-child(6){
  bottom: 0;
  left: 82.5%;
  animation-delay: 1.5s;
}
@keyframes rotate2
{
  0%
  {
    transform: scale(0) rotateY(0deg);
    opacity: 1;
    top: 0;
  }
  100%
  {
    transform: scale(5) rotateY(1000deg);
    opacity: 0;
    top: 100vh;
  }
}

.ani-3 h1{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
  font-style: italic;
}
.ani-3 li{
  top: 50%;
  left: 5%;
  animation: animate3 20s linear infinite;
}
.ani-3 li:nth-child(2){
  top: 50%;
  left: 75%;
}
@keyframes animate3
{
  0%
  {
    transform: scale(0);
    opacity: 1;
  }

  100%
  {
    transform: scale(5);
    opacity: 0;
  }
}
